{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    /* Add CSS styles to control image dimensions */

    .card-img {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Preserve aspect ratio and cover the entire card */
  }
</style>
<!--
<div class="container">
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card bg-light">
                <img class="card-img-top" src="{% static 'images/image15.avif' %}" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">TAJ MAHAL</h5>
                    <p class="card-text">

                        The Taj Mahal celebrates the great love of India's Mughal ruler Shah Jahan for his beloved wife
                        Arjumand Banu Begum.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card bg-light">
                <img class="card-img-top" src="{% static 'images/image16.avif' %}" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">INDIA GATE</h5>
                    <p class="card-text">

                        The India Gate is a war memorial located astride the Rajpath,
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card bg-light">
                <img class="card-img-top" src="{% static 'images/qutub.jpg' %}" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">Qutb Minar</h5>
                    <p class="card-text">
                        This victory tower is a symbol of the synthesis of traditional Islamic architecture and
                        Southwestern Asian design
                    </p>
                </div>
            </div>
        </div>
       

        
        <div class="col-md-3 mb-4">
            <div class="card bg-light">
                <img class="card-img-top" src="{% static 'images/image18.avif' %}" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        Athirapally Waterfalls</h5>
                    <p class="card-text">
                        situvated in kerala india
                    </p>
                </div>
            </div>
        </div>

        

    </div>-->

    <!-- Add three more rows of cards below -->
    <div class="row">
        <div class="col-md-3 mb-4">
            <!-- Card for the fourth row -->
            <div class="card bg-light">
                <img class="card-img-top" src="{% static 'images/image6.avif' %}" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">Humayun’s Tomb,</h5>
                    <p class="card-text">
                        Hazrat Nizamuddin Aulia Dargah, Mathura Rd, Nizamuddin, Nizamuddin East, New Delhi, Delhi 110013


                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <!-- Card for the fourth row -->
            <div class="card bg-light">
                <img class="card-img-top" src="{% static 'images/image7.avif' %}" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">Delhi War Cemetery, </h5>
                    <p class="card-text">

                        Delhi Cantonment, New Delhi, Delhi, India
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <!-- Card for the fourth row -->
            <div class="card bg-light">
                <img class="card-img-top" src="{% static 'images/image8.avif' %}" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">ancient building</h5>
                    <p class="card-text">

                        A palace in the city of Jaipur, India on a bright day with blue sky and few clouds
                    </p>
                </div>
            </div>
        </div>
        <!-- Add more columns as needed for the fourth row -->
        <div class="col-md-3 mb-4">
            <div class="card bg-light">
                <img class="card-img-top" src="{% static 'images/image19.avif' %}" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        HIMALYA</h5>
                    <p class="card-text">
                        it is in the Langtang region in Nepal on our mission to summit a mountain called the Naya Khanga
                        (5863m). This photo was taken at our second base camp.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="row">
    <div class="col-md-3 mb-4">
        <!-- Card for the fifth row -->
        <div class="card bg-light">
            <img class="card-img-top" src="{% static 'images/image8.avif' %}" alt="Card image">
            <div class="card-body text-center">
                <h5 class="card-title">RED FORT</h5>
                <p class="card-text">
                    The iconic Red Fort monument in Delhi, India
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <!-- Card for the fifth row -->
        <div class="card bg-light">
            <img class="card-img-top" src="{% static 'images/mysore.jpg' %}" alt="Card image"><br>
            <div class="card-body text-center">
                <h5 class="card-title">MYSORE PALACE</h5><br>
                <p class="card-text">

                    Mysore Palace situvated at the south part of india ie, Mysuru, India
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <!-- Card for the fifth row -->
        <div class="card bg-light">
            <img class="card-img-top" src="{% static 'images/image11.avif' %}" alt="Card image">
            <div class="card-body text-center">
                <h5 class="card-title">Alapuzha</h5>
                <p class="card-text">

                    Houseboat and tour boat in backwaters of Alleppey. Kerala, India
                </p>
            </div>
        </div>
    </div>
    <!-- Add more columns as needed for the fifth row -->
    <div class="col-md-3 mb-4">
        <div class="card bg-light">
            <img class="card-img-top" src="{% static 'images/image20.avif' %}" alt="Card image">
            <div class="card-body text-center">
                <h5 class="card-title">
                    GOA</h5>
                <p class="card-text">
                    Baga beach, Panaji , Goa, India
                </p>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-md-3 mb-4">
        <!-- Card for the sixth row -->
        <div class="card bg-light">
            <img class="card-img-top" src="{% static 'images/image12.avif' %}" alt="Card image">
            <div class="card-body text-center">
                <h5 class="card-title">WAYANAD TRIBAL VILLAGE</h5>
                <p class="card-text">
                    situvated in Wayanad, Kerala, India
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <!-- Card for the sixth row -->
        <div class="card bg-light">
            <img class="card-img-top" src="{% static 'images/image13.avif' %}" alt="Card image">
            <div class="card-body text-center">
                <h5 class="card-title">EDAKAL CAVES</h5>
                <p class="card-text">
                    situvated in Wayanad
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <!-- Card for the sixth row -->
        <div class="card bg-light">
            <img class="card-img-top" src="{% static 'images/ooty.jpeg' %}" alt="Card image">
            <div class="card-body text-center">
                <h5 class="card-title">
                 OOTY</h5>
                <p class="card-text">
                    situvated in Tamil Nadu
                </p>
            </div>
        </div>
    </div>
    <!-- Add more columns as needed for the sixth row -->
    <div class="col-md-3 mb-4">
        <div class="card bg-light">
            <img class="card-img-top" src="{% static 'images/image21.avif' %}" alt="Card image">
            <div class="card-body text-center">
                <h5 class="card-title">

                    Adiyogi Statue</h5>
                <p class="card-text">
                    situvated in Coimbatore, Tamil Nadu, India
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
